@media( max-width : 350px ){
    .post{
        min-width: 100% !important;
    }
}

.class_image{
    border-radius: 5px 5px 0 0;
    width: 100%; 
    aspect-ratio: 1/1;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;

}
.cut-text { 
    text-overflow: ellipsis;
    overflow: hidden; 
    height: fit-content; 
    white-space: nowrap;
}
a{
    color: var(--dark) !important;
}
.card-product-grid:active,
.card-product-grid:hover{
    background-color: #eee;
    cursor: pointer;
}
.image-div{
    background-color: white;
}
.product-price{
    font-weight: 700;
}
.page-item a{
    color: #00b517 !important;
}
.page-item.active .page-link {
    background-color: #00b517 !important;
    border-color: #00b517 !important;
    color: white !important;
}
.search_select,
.search_select:active,
.search_select:hover,
.search_select:focus-visible{
    border: 0; 
    padding: 5px;
    color: #00b517;
    outline: 0px none #fff !important;
}
#rightSidebar {
    max-width: 400px;
    height: 100%;
    overflow-y: scroll;
    width: 80%;
    border-left: 1px solid var(--transparent-dark);
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    background-color: var(--mygray);
    overflow-x: hidden;
}
#rightSidebar .closebtn {
    z-index: 1;
    position: sticky;
    padding: 0;
    font-size: 36px;
    text-decoration: none;
    color: var(--dark);
    display: block;
    background-color: var(--mygray);
    z-index: 3;
    text-align: left;
    padding-left: 13px;
    top: 0;
}

.right-sidebar{
    min-width: 256px;
}
.pc-header,
.phone-header{
    position: relative;
}

#products-container{
    display: flex;flex-wrap: wrap;padding:0;
}
#rightSidebar{
    transform: translate(100%); transition: 0s;
}
#SPForm{
    padding: 8px;
    min-height: 100%;
    margin-top: 0px;
}
.style-1{
    display: flex; flex-wrap: wrap; gap: 5px;
}
.style-2{
    flex-direction: row-reverse;
}
.product-link{
    border: 1px #00000038 solid; border-radius: 9px !important;
    padding-bottom: 4px;
    background-color: var(--white);
    display: block;
    text-decoration: none;
}
.product-year{
    padding: 3px 5px 3px 20px; position: absolute; bottom: 0; right:0; border-radius: 30px 0 0 0; color: var(--white); background-color: var(--green); font-size: 0.9rem; z-index: 1;
}
.style-3{
    font-size: small; padding: 2px 4px; margin: 4px; height: fit-content
}