{% extends 'base.html' %}
{% load i18n %}

{% block content %}

{% if LANGUAGE_CODE == "ar" %}
<section style="text-align: right;">
  <div class="container py-2">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-9 ">
        <div class="card text-black p-3">
          <h4 style="color: var(--green);">{% trans "Change Password" %} </h4>
          {% include 'includes/alerts.html' %}
          <form action="{% url 'change-password' %}" method="POST">
              {% csrf_token %}
              <div class="col-md-12 mt-3">
                  <label>{% trans "Current password" %}</label>
                  <input type="password" name="current_password" class="form-control" placeholder="{% trans "enter your current password" %}" required>
              </div>
              <div class="col-md-12 mt-3">
                  <label >{% trans "New password" %}</label>
                  <input type="password" name="new_password" class="form-control" placeholder="{% trans "enter your new password" %}" required>
              </div>
              <div class="col-md-12 mt-3">
                  <label >{% trans "Confirm new password" %}</label>
                  <input type="password" name="confirm_password" class="form-control" placeholder="{% trans "reenter your new password" %}" required>
              </div>
          <button class="btn btn-success mx-3 mt-4 mb-3">{% trans "Save" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% else %}
<section style="">
  <div class="container py-2">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-9 ">
        <div class="card text-black p-3">
          <h4 style="color: var(--green);">{% trans "Change Password" %} </h4>
          {% include 'includes/alerts.html' %}
          <form action="{% url 'change-password' %}" method="POST">
              {% csrf_token %}
              <div class="col-md-12 mt-3">
                  <label>{% trans "Current password" %}</label>
                  <input type="password" name="current_password" class="form-control" placeholder="{% trans "enter your current password" %}" required>
              </div>
              <div class="col-md-12 mt-3">
                  <label >{% trans "New password" %}</label>
                  <input type="password" name="new_password" class="form-control" placeholder="{% trans "enter your new password" %}" required>
              </div>
              <div class="col-md-12 mt-3">
                  <label >{% trans "Confirm new password" %}</label>
                  <input type="password" name="confirm_password" class="form-control" placeholder="{% trans "reenter your new password" %}" required>
              </div>
          <button class="btn btn-success ml-3 mt-4 mb-3">{% trans "Save" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% endblock content %}