{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <!-- ========================= SECTION CONTENT ========================= -->
  <section class="section-conten padding-y" style="min-height:84vh">
    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 600px; margin-top:100px;">
      {% include 'includes/alerts.html' %}
    {% if LANGUAGE_CODE != "ar" %}
      <div class="card-body">
        <h4 class="card-title mb-4">{% trans "Forgot Password ?" %}</h4>
        <form method="POST" action="{% url 'forget_password' %}">
          {% csrf_token %}
          <div class="form-group" style="margin-bottom:5px">
              <input type="email" class="form-control" placeholder="{% trans "Email Address" %}" name="email">
          </div> <!-- form-group// -->
          <div style="text-align:right" class="form-group">
            <span style="margin-right:5px">{% trans "Remembered Password?" %}</span><a style="color: var(--green);" href="{% url 'login' %}" class="float-right">{% trans "Login" %}</a>
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-success btn-block">{% trans "Submit" %}</button>
          </div> <!-- form-group// -->    
        </form>
      </div> <!-- card-body.// -->
    {% else %}
      <div class="card-body">
        <h4 class="card-title mb-4 text-right">{% trans "Forgot Password ?" %}</h4>
        <form method="POST" action="{% url 'forget_password' %}">
          {% csrf_token %}
          <div class="form-group" style="margin-bottom:5px">
              <input type="email" class="form-control" placeholder="{% trans "Email Address" %}" name="email">
          </div> <!-- form-group// -->
          <div class="form-group d-flex">
            <span class="ml-auto"><a style="color: var(--green);" href="{% url 'login' %}" > {% trans "Login" %}</a></span>
            <span style="margin-left:5px" >{% trans "Remembered Password?" %}</span>
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-success btn-block">{% trans "Submit" %}</button>
          </div> <!-- form-group// -->    
        </form>
      </div> <!-- card-body.// -->
    {% endif %}
    </div> <!-- card .// -->
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
    
  </section>
  <!-- ========================= SECTION CONTENT END// ========================= -->
  <style>
    .pc-header,
    .phone-header{
        position: relative !important;
    }
  </style>
{% endblock content %}