{% extends 'base.html' %}
{% load i18n %}


{% block content %}
  <!-- ========================= SECTION CONTENT ========================= -->
  <section class="section-conten padding-y" style="min-height:84vh">

  <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
        {% if LANGUAGE_CODE == "ar" %}
        <h4 class="card-title mb-4 text-right">{% trans "Reset Password" %}</h4>
        {% else %}
          <h4 class="card-title mb-4">{% trans "Reset Password" %}</h4>
        {% endif %}
        {% include 'includes/alerts.html' %}
        <form method="post" action="{% url 'reset_password' %}">
          {% csrf_token %}
          <div class="form-group">
            <input type="password" class="form-control" id="id_password" placeholder="{% trans "Password" %}" name="password">
          </div> <!-- form-group// -->
          <div class="form-group">
            <input type="password" class="form-control" id="id_confirm_password" placeholder="{% trans "Confirm Password" %}" name="confirm_password">
          </div> <!-- form-group// -->
          <div class="mb-5"><strong style="color:#00b517;">{% trans "Passwords must have at least 8 characters" %}</strong></div>
          <div class="form-group">
              <button type="submit" id="submit_registration_button" class="btn btn-success btn-block">{% trans "Submit" %}</button>
          </div> <!-- form-group// -->    
        </form>
        </div> <!-- card-body.// -->
      </div> <!-- card .// -->
  <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
    
  </section>
  <!-- ========================= SECTION CONTENT END// ========================= -->
  <style>
    .pc-header,
    .phone-header{
        position: relative !important;
    }
  </style>
  <script>
    id_password.addEventListener('input', check_button)
    id_confirm_password.addEventListener('input', check_button)

    id_confirm_password.style.border = 'var(--red) 2px solid'
          id_password.style.border = 'var(--red) 2px solid'
    submit_registration_button.setAttribute('disabled', '')

    function check_button(){
      if(id_password.value.length >= 8 && id_password.value == id_confirm_password.value){
          id_confirm_password.style.border = 'var(--green) 2px solid'
          id_password.style.border = 'var(--green) 2px solid'
          submit_registration_button.removeAttribute('disabled')
      }else{
          id_confirm_password.style.border = 'var(--red) 2px solid'
          id_password.style.border = 'var(--red) 2px solid'
          submit_registration_button.setAttribute('disabled', '')
          
      }
    }
  </script>
{% endblock content %}