{% extends 'base.html' %}
{% load user_templates %}
{% load i18n %}
{% load static %}


{% block link %}
    
{% endblock link %}



{% block content %}
<section class="section-content padding-y">
    <div class="col-sm-10 mx-auto" >
        <ul class="list-group" style="text-align:center;" id='products_container'>
          {% if not is_over_50_post %}
            <div id="'add-product" class="text-center p-2 my-2" style="background-color: var(--white); border: 1px solid rgba(0,0,0,.125);">
                <a href="{% url 'create-item' %}"><img src="{% static "images/icons/add.png" %}" width="60" alt=""></a>
            </div>
          {% else %}
          <div class="alert alert-warning mt-3" role="alert">
            {% trans "You added more than 50 articles, for now that is the maximum number of artciles per user" %}
          </div>
          {% endif %}
            
            <div id="loading-animations">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; display: block; shape-rendering: auto; width: 50%; aspect-ratio: 1 / 1;" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                  <g transform="rotate(0 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#00b517">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.9166666666666666s" repeatCount="indefinite"></animate>
                    </rect>
                  </g><g transform="rotate(30 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#00b517">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.8333333333333334s" repeatCount="indefinite"></animate>
                    </rect>
                  </g><g transform="rotate(60 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#00b517">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.75s" repeatCount="indefinite"></animate>
                    </rect>
                  </g><g transform="rotate(90 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#00b517">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.6666666666666666s" repeatCount="indefinite"></animate>
                    </rect>
                  </g><g transform="rotate(120 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#00b517">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5833333333333334s" repeatCount="indefinite"></animate>
                    </rect>
                  </g><g transform="rotate(150 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#00b517">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5s" repeatCount="indefinite"></animate>
                    </rect>
                  </g><g transform="rotate(180 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#00b517">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.4166666666666667s" repeatCount="indefinite"></animate>
                    </rect>
                  </g><g transform="rotate(210 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#00b517">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.3333333333333333s" repeatCount="indefinite"></animate>
                    </rect>
                  </g><g transform="rotate(240 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#00b517">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.25s" repeatCount="indefinite"></animate>
                    </rect>
                  </g><g transform="rotate(270 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#00b517">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.16666666666666666s" repeatCount="indefinite"></animate>
                    </rect>
                  </g><g transform="rotate(300 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#00b517">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.08333333333333333s" repeatCount="indefinite"></animate>
                    </rect>
                  </g><g transform="rotate(330 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#00b517">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animate>
                    </rect>
                  </g>
                  <!-- [ldio] generated by https://loading.io/ -->
                </svg>
            </div>
        </ul>
        <svg xmlns="http://www.w3.org/2000/svg" id="loading_svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto auto 100px auto; display: none; order:1; background: none; shape-rendering: auto; min-width: 80px; height:80px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
          <circle cx="50" cy="50" fill="none" stroke="var(--green)" stroke-width="10" r="40" stroke-dasharray="188.49555921538757 64.83185307179586">
            <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
          </circle>
        </svg>
        <img src='/static/images/icons/go down.png' width='80' id='show_more' style='display:none; margin:auto auto 100px auto;' onclick>
        
    </div>
</section>
<link rel="stylesheet" href='{% static "css/dashboard/your_items.css" %}'> 
<script>
    var index = 0;
    var show_more_var;
    function load_products(){
      $.ajax({
        url: "{% url 'your-items-ajax' %}",
        data: {
          index : index
        },
        success: function(data){
          data = JSON.parse(data)
          console.log(data)
          show_more_var = data[1]
          data = data[0]
          document.getElementById('loading-animations').style.display = 'none'
          if (data.length > 0){
            var price_span
            for (product of data){
                if ( product['price'] ){
                    price_span = `<span style="color: #00b517;">${ product['price'] } Mi</span>`
                }
                    
                else if ( product['given_price'] ){
                    price_span = `<span style="color: red;">${ product['given_price'] } Mi</span>`
                }
                    
                else{
                    price_span = `<span style="color: red;">{% trans "Price is unavailable" %}</span>`
                }
                    
        
                products_container.innerHTML = products_container.innerHTML +
                `
                    <li class="list-group-item mb-1">
                            <div class="row">
                                <div class="p-2" onclick='window.location.href=href="${ product['id']}"'>
                                    <figcaption style="width :80px;">
                                        <img src="${ product['main_image']}" alt="" style="max-width:80px; max-height:80px">
                                    </figcaption>
                                </div>
                                <div class="p-2 product-info text-left">
                                    <strong>${ product['name'] }</strong>
                                    ${ price_span }
                                </div>
                                <div class="p-2 product-info text-left ml-auto">
                                    <form action="/product/{{ user.id }}/${ product['slug'] }-${ product['id'] }/delete/">
                                        {% csrf_token %}
                                        <button onclick='delete_product(this)' type='button'><img src="https://img.icons8.com/sf-black-filled/30/FA5252/trash.png"/></button>
                                    </form>
                                </div>
                            </div>
                    </li>
                `
            
            }
            index = product['id']
            if (show_more_var){
                document.getElementById('show_more').style.display = 'block'
            }else{
                document.getElementById('show_more').style.display = 'none'
            }
          }
          else{
            products_container.innerHTML= 
            `
            <h4 class='my-4'> {% trans "You don't have any products yet" %} </h4>
            ` + products_container.innerHTML
          }
          loading_svg.style.display = 'none'
        }
      })
      
    }
    show_more.addEventListener('click', function(){
        show_more.style.display = 'none'
        loading_svg.style.display = 'block'
        load_products()
        
      })
    function delete_product(button){
        var result =  confirm('{% trans "Are you sure you want to remove this item" %}')
        
        
        if (result){
            $.ajax({
                url: button.parentNode.getAttribute('action')
            })
            button.parentNode.parentNode.parentNode.parentNode.remove()
        }
    }
    $('document').ready(
        load_products()
    )
    
</script>
{% endblock content %}